@font-face {
  font-family: MartianMono;
  src: url(/fonts/MartianMono-limited.woff2), url(/fonts/MartianMono.woff);
}

* {
  font-family: MartianMono, monospace;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
}

a:hover {
  color: gainsboro;
}

p {
  line-height: 1.4;
}

.slide {
  box-sizing: border-box;
  padding: 25px;
}

.full {
  min-height: 100vh;
}

.slide-title {
  font-size: 2.5em;
}

.separator::after {
  content: "•";
}

#intro-container {
  background-color: #003153;
  color: white;
}

#intro {
  padding-top: 35vh;
  text-align: center;
}

#intro h1 {
  font-size: 5em;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#intro p::after {
  content: "?";
  animation-name: fade;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#scroll-down {
  display: inline-block;
  font-size: 1.2em;
  transform: scaleX(2);
  position: absolute;
  bottom: 25px;
  left: 50%;
  text-decoration: none;
}

#projects-container {
  background-color: #00548F;
  color: white;
}

/* we need this element so the nearest positioned ancestor of .seymour is not body */
#projects-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

#projects {
  padding: 25px 0px;
  padding: 15px 0px 25px 0px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1.6em;
  column-gap: 1.6em;
}

/* only first ten will fit on desktop */
.project:nth-child(n + 11) {
  display: none;
}

.project-title {
  font-size: 1.45em;
}

.project-title a {
  text-decoration: none;
}

.project-info {
  line-height: 1.4;
}

.project-description {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 0.85em;
}

.seymour {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 1em;
  bottom: 0;
  right: calc(50vw - 4ch);
  /* needed so em and ch sync */
  font-size: 1em;
}

input.seymour {
  opacity: 0;
  cursor: pointer;
  border: none;
  z-index: 2;
}

input.seymour:hover + span.seymour {
  color: gainsboro;
}

input.seymour:checked + span.seymour::after {
  content: "see less";
}

input.seymour:checked ~ #projects .project {
  display: block;
}

input.seymour {
  width: 8ch;
}

span.seymour::after {
  content: "see more";
}

#misc-container {
  background-color: #0072C2;
  color: white;
  height: 80vh;
}

#misc-container p:first-of-type {
  margin-top: 0px;
}

footer {
  background-color: #028cef;
  color: white;
  height: 20vh;
}

.contact-link {
  cursor: pointer;
  text-decoration: none;
}

.contact-link + .separator {
  padding: 0px 5px;
}

@media screen and (max-width: 500px) {
  #intro h1 {
    font-size: 4em;
  }

  #projects-container {
    min-height: initial;
    height: auto;
  }

  #projects {
    grid-template-columns: auto;
  }
  
  /* only first 4 will fit on mobile */
  .project:nth-child(n + 5) {
    display: none;
  }

  .mobile-hide-1 {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  .mobile-hide-1, .mobile-hide-2 {
    display: none;
  }

  footer {
    height: auto;
  }
}

@media screen and (max-height: 400px) {
  #misc-container {
    height: auto;
  }

  #scroll-down { 
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #intro h1 {
    font-size: 3.75em;
  }
}

@media screen and (max-width: 350px) {
  #intro h1 {
    font-size: 3.5em;
  }
}
